@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --base-background-rgb: 7, 20, 34;
    --base-title-rgb: 231, 237, 244;
  }
}

body {
  color: rgb(var(--base-title-rgb));
  background: rgb(var(--base-background-rgb));
}
